{{#each this}}

<img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="Poster {{title}}{{name}}" class="film__img">
<div class="film__info-container">
    <h2 class="film__title">{{title}}{{name}}</h2>
    <table class="film__feature">
        <tr class="film__feature-line">
            <td class="film__feature-option">Vote / Votes</td>
            <td class="film__feature-details"><span class="vote">{{this.vote_average}}</span> / {{this.vote_count}}</td>
        </tr>
        <tr class="film__feature-line">
            <td class="film__feature-option">Popularity</td>
            <td class="film__feature-details">{{this.popularity}}</td>
        </tr>
        <tr class="film__feature-line">
            <td class="film__feature-option">Original Title</td>
            <td class="film__feature-details">{{original_title}}{{original_name}}</td>
        </tr>
        <tr class="film__feature-line">
            <td class="film__feature-option">Genre</td>
            <td class="film__feature-details">{{genre_ids}}</td>
        </tr>
    </table>
    <div class="film__about-container">
        <p class="about">ABOUT</p>
        <p class="film__description">{{overview}}</p>
    </div>
    <div class="btn-container">
        <button type="button" class="btn btn-320">ADD TO WATCHED</button>
        <button type="button" class="btn">ADD TO QUEUE</button>    
    </div>
</div>
{{/each}}